* {
    margin: 0;
     padding: 5
     ;box-sizing: border-box;
     font-family:'Times New Roman', Times, serif;
    }
body{
    background-color:#f0f0f0;
}
header{
    display:flex;
    justify-content:space-between;
    align-items: center;
    background: #63bce9;
    padding: 15px;
}
footer{
    text-align:center;
    background:#63bce9;
    color:#000000;
    padding:15px;
    margin-top: 20px;
}
.logo {
    display:flex;
    align-items:center;
    gap:10px;
}
.logo.c{width:50px;
    height:50px;
    border-radius:50%;
    background-color:#fff;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:24px;
    color:#1184be;}
nav ul{
    display:flex;
    list-style:none;
    gap:20px;}
nav a{
    text-decoration:none;
    color:#fff;
    padding: 8px;
    border-radius:20px;
}
.active,nav a:hover{background-color:#fff;color:#1184be;}
.hero{display:flex;justify-content:space-between;align-items:center;padding:50px;}
.hero img{width: 420px;border-radius: 12px;}
.btn{background-color: rgb(102, 169, 246);padding: 15px 20px;border-radius: 2px;}
.features,.books{display:grid;grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));gap:20px;padding:50px;}
.form{background:#fff;padding:25px;border-radius:10px;width:420px;display:flex;flex-direction:column;gap:15px;}
.form input,.form textarea{padding:10px;border-radius:5px;border:1px solid #ccc;width:100%;}
.form button{padding:10px;background: #1f3c88;color:#fff;border:none}